## 1. Simple function creation:

In [4]:
def calc_area():
    length = 6
    area = length * length
    print(f"Area of Square is {area}sq.km")

In [5]:
calc_area()

Area of Square is 36sq.km

### 2. function creation with `parameters`

In [6]:
def calc_area(length):
    area = length * length
    print(f"Area of Square is {area}sq.km")

In [7]:
calc_area(5)

Area of Square is 25sq.km

In [8]:
calc_area(7)

Area of Square is 49sq.km

In [9]:
calc_area(6)

Area of Square is 36sq.km

#### argument:

In [11]:
l = int(input('Enter length :'))# l will act as argument for function
calc_area(l)

Enter length :6
Area of Square is 36sq.km

### 3.function creation with `ie : default parameters`

In [30]:
def calc_area(length = 3):
    area = length * length
    print(f"Area of Square is {area}sq.km with length {length}")

In [31]:
calc_area()

Area of Square is 9sq.km with length 3

In [25]:
def calc_area(length):
    area = length * length
    print(f"Area of Square is {area}sq.km")

In [27]:
calc_area()

TypeError: calc_area() missing 1 required positional argument: 'length'

### 4.function creation with ie : more than one parameters

In [12]:
# NOTE: default ko end main rakhingy
#def calc_area(length, breadth=4, height):
def calc_area(length,  height, breadth=4):
    area_of_square = length * length
    volume = length * breadth * height
    print(f"Area of Square is {area_of_square}sq.km")
    print(f"Volume is {volume}sq.km with length {length}, height {height},bradth {breadth}")

In [14]:
calc_area(5,6)

Area of Square is 25sq.km
Volume is 120sq.km with length 5, height 6,bradth 4

### 5.More than one parameters with positional argument

In [15]:

def calc_area(length,  height, breadth=4):
    area_of_square = length * length
    volume = length * breadth * height
    print(f"Area of Square is {area_of_square}sq.km")
    print(f"Volume is {volume}sq.km with length {length}, height {height},bradth {breadth}")

In [17]:
l = int(input('Enter length :'))
b = int(input('Enter bradth :'))
h = int(input('Enter height :'))
calc_area(l,b,h)

Enter length :3
Enter bradth :4
Enter height :4
Area of Square is 9sq.km
Volume is 48sq.km with length 3, height 4,bradth 4

In [19]:
# Changing placement
l = int(input('Enter length :'))
b = int(input('Enter bradth :'))
h = int(input('Enter height :'))
calc_area(b,h,l) #Error & wrong values insertion

Enter length :3
Enter bradth :4
Enter height :4
Area of Square is 16sq.km
Volume is 48sq.km with length 4, height 4,bradth 3

In [20]:
l = int(input('Enter length :'))
b = int(input('Enter bradth :'))
h = int(input('Enter height :'))
calc_area(breadth=b,height=h,length= l)

Enter length :3
Enter bradth :4
Enter height :4
Area of Square is 9sq.km
Volume is 48sq.km with length 3, height 4,bradth 4

### 6.Function with return keywords:

In [21]:

def calc_area(length,  height, breadth=4):
    area_of_square = length * length
    volume = length * breadth * height
#    print(f"Area of Square is {area_of_square}sq.km")
#    print(f"Volume is {volume}sq.km with length {length}, height {height},bradth {breadth}")
    return area_of_square, volume

In [22]:
l = int(input('Enter length :'))
b = int(input('Enter bradth :'))
h = int(input('Enter height :'))
calc_area(breadth=b,height=h,length= l)

Enter length :3
Enter bradth :4
Enter height :4

(9, 48)

In [28]:
l = int(input('Enter length :'))
b = int(input('Enter bradth :'))
h = int(input('Enter height :'))
area , volume = calc_area(breadth=b,height=h,length= l)

Enter length :3
Enter bradth :4
Enter height :4

In [29]:
area

9

In [30]:
volume

48

In [32]:
# Modulirizing the script means making small function to save time & increasing efficiency

In [ ]:

area ()
volume ()
circumference ()



area = length * length 
vol = length * breadth * height 
cir = pi * radius^2

In [ ]:
main.py()

1- volume
2- circumference 
3- area

In [ ]:
length = int(input('enter length:'))
area = length * length 

breadth = int(input('enter breadth:'))
height = int(input('enter heigtht:'))
vol = length * breadth * height 

pi = 22/7
radius = int(input('enter radius:'))
cir = pi * radius^2
# now make function for each

In [ ]:
# area
length = int(input('enter length:'))
area = length * length 
# Volume
breadth = int(input('enter breadth:'))
height = int(input('enter heigtht:'))
vol = length * breadth * height 
# Circumference
pi = 22/7
radius = int(input('enter radius:'))
cir = pi * radius^2

In [ ]:
# main.py file
area()
vol()
cir()

In [ ]:
CLASS TASK:
    1- funct with or wtout parameter 
    2- introduct parameters in that full name

In [42]:
def name(first_name,last_name,middle_name =' Muhammad '):
    full_name = first_name + middle_name + last_name
    return full_name

In [43]:
first_name =  input('Enter last name')
last_name = input('Enter last name')
name(first_name,last_name)

Enter last nameUmer
Enter last nameQazi

'UmerMuhammadQazi'

In [51]:
def full_name(first_name,last_name,middle_name =""):
    return f"{first_name} {middle_name} {last_name}"

In [52]:
full_name('Umer','Qazi')

'Umer  Qazi'

In [53]:
full_name('Umer','Qazi','Muhammad')

'Umer Muhammad Qazi'

In [55]:
full_name(first_name='Umer',last_name='Qazi',middle_name='Muhammad')

'Umer Muhammad Qazi'

#### EXAMPLE:

###### 1st Method:

In [56]:
def add(num1, num2):
    return num1 + num2
def sub(num1, num2):
    return num1 - num2
def calculate(num1, num2):
    print(add(num1,num2))
    print(sub(num1,num2))

In [57]:
calculate(5,3)

8
2

###### 2nd Method:

In [58]:
# we have created 
def calculate(num1, num2):
    def add(num1, num2):
        return num1 + num2
    def sub(num1, num2):
        return num1 - num2
    print(add(num1,num2))
    print(sub(num1,num2))

In [60]:
calculate(5,5)

10
0

###### Single (*) or Double (**)

### Working with flexible number of argument with *

In [73]:
# * lga kr tuple main daala 
def add(num1,num2, *nums):
    print(num1)
    print(num2)
    print(*nums)
    added = num1 + num2
# * lga kr tuple se nikaala 
# tuple se nikaa lingy..
    for i in nums:
        added += i
    print(added)

In [74]:
add(3,4,5,6)

3
4
5 6
18

In [71]:
# * lga kr tuple main daala 
def add(num1,num2, *nums):
    print(num1)
    print(num2)
    print(nums)
# tuple se nhi nikaala

In [72]:
add(3,4,5,6)

3
4
(5, 6)

### Working with flexible number of argument with **

In [86]:
def add(num1,num2, **nums):
    print(num1)
    print(num2)
    print(nums)
    added = num1 + num2
    for key, value in nums.items():
        added += value
    print(added)

In [87]:
add(3,4,num3=5,num4=6)

3
4
{'num3': 5, 'num4': 6}
18

In [88]:
nums = {'num3': 5, 'num4': 6}

In [98]:
for key, value in nums.items():
    print(value)

5
6