# Dictionaries :-

In [3]:
'''dictionaries main pehle key dengy phr us k baad 
phr us key ki koi value dengy.
Dictionaries ko {} se show karingy..'''
{key: value}
{"first_name": 'Qasim',
 "last_name": 'Hassan'}
.keys()--> take out all the keys
.values()-> take out all the values
.items() take out values as tuples(then we take values from tuples)
 ex ('last_name','Hassan')pehle key , value
{}. #press tab

'dictionaries main pehle key dengy phr us k baad \nphr us key ki koi value dengy.\nDictionaries ko {} se show karingy..'

## .update({ }):-

#### - The update() method inserts the specified items to the dictionary.
#### - The specified items can be a dictionary, or an iterable object with key value pairs.

In [16]:
data = {"first_name" :"Umer",
        "last_name" : "Qazi"}

In [17]:
data.update({"age" : 18})

In [18]:
data

{'first_name': 'Umer', 'last_name': 'Qazi', 'age': 18}

## .Values( )

#### - The values() method returns a view object. The view object contains the values of the dictionary, as a list.
#### - The view object will reflect any changes done to the dictionary, see example below.

In [19]:
data

{'first_name': 'Umer', 'last_name': 'Qazi', 'age': 18}

In [20]:
data.update({"first_name" : "Muhammad"})

In [21]:
data

{'first_name': 'Muhammad', 'last_name': 'Qazi', 'age': 18}

In [22]:
# agr value hogi to usko update krdy ga warna add krdega

In [23]:
data.update({"middle_name" : 'Umer'})

In [24]:
data

{'first_name': 'Muhammad',
 'last_name': 'Qazi',
 'age': 18,
 'middle_name': 'Umer'}

In [26]:
print({last_name},{first_name})

NameError: name 'last_name' is not defined

### . Dict of List:-

In [3]:
customers = [{
    "customer id": 0,
    "first name":"John",
    "last name": "Ogden",
    "address": "301 Arbor Rd."
},
{
    "customer id": 1,
    "first name":"Ann",
    "last name": "Sattermyer",
    "address": "PO Box 1145"
},
]

In [28]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'}]

## - To take value from dict of list:-

In [33]:
customers[1]['address']

'PO Box 1145'

In [37]:
customers[0]['first name']

'John'

In [38]:
customers[0]['last name']

'Ogden'

In [39]:
customers[1]['customer id']

1

In [40]:
customers[0]['address']

'301 Arbor Rd.'

In [50]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [51]:
new_customer = {
    "customer id": 2,
    "first name":"Jill",
    "last name": "Somers",
    "address": "3 Main St.",
}

In [52]:
new_customer

{'customer id': 2,
 'first name': 'Jill',
 'last name': 'Somers',
 'address': '3 Main St.'}

In [53]:
new_customer.update({"first name" : 'Michael'})

In [54]:
new_customer

{'customer id': 2,
 'first name': 'Michael',
 'last name': 'Somers',
 'address': '3 Main St.'}

In [58]:
customers.append(new_customer)

In [59]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Michael',
  'last name': 'Somers',
  'address': '3 Main St.'}]

### list se 1 dictionary nika lingy....

### 1st. METHOD:

In [61]:
new_customer = customers[0]

In [63]:
new_customer

{'customer id': 0,
 'first name': 'John',
 'last name': 'Ogden',
 'address': '301 Arbor Rd.'}

In [62]:
new_customer['address']

'301 Arbor Rd.'

In [64]:
new_customer['first name']

'John'

### 2nd. METHOD:

In [2]:
customers

NameError: name 'customers' is not defined

In [66]:
customers[1]['first name']

'Ann'

In [74]:
for i in customers:
    print(i)

{'customer id': 0, 'first name': 'John', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}
{'customer id': 1, 'first name': 'Ann', 'last name': 'Sattermyer', 'address': 'PO Box 1145'}
{'customer id': 2, 'first name': 'Michael', 'last name': 'Somers', 'address': '3 Main St.'}

In [80]:
for k in i.get('last name'):
    print(k)

S
o
m
e
r
s

## Creating a dictionary that contains lists:

In [ ]:
customers = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
    "discounts": ["standard", "volume", "loyalty"],
}

In [4]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'}]

In [1]:
customers = [{
    'customer id': 0,
    'first name': 'John',
    'last name': 'Ogden',
    'address': '301 Arbor Rd.',
    "discounts": ["standard", "volume", "loyalty"],
},
 {
     'customer id': 1,
    'first name': 'Ann',
    'last name': 'Sattermyer',
    'address': 'PO Box 1145',
    "discounts": [],
 },
{ 
    "customer id": 2,
    "first name":"Jill",
    "last name": "Somers",
    "address": "3 Main St.",
    'discounts' : ['standard']
}]

In [2]:
customers[0]['discounts']

['standard', 'volume', 'loyalty']

In [3]:
customers[2]['discounts']

['standard']

In [4]:
len(customers)

3

In [5]:
for iterator in range(len(customers)):
    print(iterator)
    print(f"{customers[iterator]['discounts']}")

0
['standard', 'volume', 'loyalty']
1
[]
2
['standard']

In [24]:
for dis in range(len(customers)):
    print(dis)
    print(f"{customers[dis]['discounts']}")
    if dis == 'standard':
        print("discount is 5%")
    elif dis == 'volume':
        print("discount is 10%")
    elif dis == 'loyalty':
        print ('discount is 20%0')

0
['standard', 'volume', 'loyalty']
1
[]
2
['standard']

In [44]:

for customer in customers:
    discounted_percents = []
    if len(customer['discounts']) >= 1:
        for discount in customer['discounts']:
            if discount == "standard":
                discounted_percent = 5
            elif discount == "volume":
                discounted_percent = 10
            elif discount == "loyalty":
                discounted_percent = 15
            else :
                discounted_percent = 'ERROR-'
            discounted_percents.append(discounted_percent)   
    print(discounted_percents)
    customer.update({"discounted_percents": discounted_percents})
    print('====')
customers

[5, 10, 15]
====
[]
====
[5]
====

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.',
  'discounts': ['standard', 'volume', 'loyalty'],
  'discounted_percents': [5, 10, 15]},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145',
  'discounts': [],
  'discounted_percents': []},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.',
  'discounts': ['standard'],
  'discounted_percents': [5]}]

In [ ]:
for customer in customers:
    print(customer['discounts'])
    if len(customer['discounts']) >= 1:
        for discount in customer['discounts']:
            if discount == "standard":
                discounted_percent = 5
            elif discount == "volume":
                discounted_percent = 10
            elif discount == "loyalty":
                discounted_percent = 15
            else :
                discounted_percent = 'ERROR-'
            discounted_percents.append(discounted_percent)   
    print(discounted_percents)