# 1. For Loops :

In [ ]:
# for loop class:
#    https://www.youtube.com/watch?v=B0nvl1TQOnU&t=2458s
# 1:03:24

In [2]:
countries = ['Korea',
            'China',
            'Bangladesh',
            'Pakistan',
            'India',
            'Kwait']

In [6]:
searching_country = 'Pakistan'
if searching_country == countries[0]:
    print('Yes!')
else:
    print('NOT')

NOT

In [7]:
for temp in countries:
    print(temp)

Korea
China
Bangladesh
Pakistan
India
Kwait

In [ ]:
year = int(input('Enter a year :'))
if (year % 4 == 0) and (year% 100 == 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year}is not a leap year" )

In [1]:
for year in [1600,1678,1700,1777]:
    if (year % 4 == 0) and (year% 100 == 0) or (year % 400 == 0):
        print(f"{year} is a leap year")
    else:
        print(f"{year}is not a leap year" )

1600 is a leap year
1678is not a leap year
1700 is a leap year
1777is not a leap year

In [3]:
countries

['Korea', 'China', 'Bangladesh', 'Pakistan', 'India', 'Kwait']

In [4]:
for country in countries:
    if country == 'Pakistan':
       print("Pakistan Zindabad")
    else:
        print('NOt Found')

NOt Found
NOt Found
NOt Found
Pakistan Zindabad
NOt Found
NOt Found

###  Range:

In [5]:
# Range is a generator type function

In [ ]:
range (1-9) 1,2,3....
# range ka function value dene k bad yaad rkhta hai...
1,2,3......

In [9]:
range(10)

range(0, 10)

In [8]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [15]:
#range(start , end , steps
for i in range(10 , 20, 2):
    print(i)

10
12
14
16
18

In [21]:
cleanest_cities = ["Cheyenne",
                    "Santa Fe",
                    "Tucson",
                    "Great Falls",
                    "Honolulu"]

In [25]:
city_to_check = "china"
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")
else:
    print('Not Available')

Not Available

In [28]:
city_to_check = 'Tucson'
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities

In [ ]:
# for (koi bhi temporary variable) in (kahan check krna hai )  :
  for           x                  in           y              :

## class9 Loops, Nested Loops, User input & String formatting:

In [8]:
list1 = ['Cat','Banana','dog','apple']

In [12]:
list1.sort()

In [13]:
list1

['Banana', 'Cat', 'apple', 'dog']

In [19]:
list1

['Banana', 'Cat', 'apple', 'dog']

In [23]:
list1.append("cup")

In [24]:
list1

['Banana', 'Cat', 'apple', 'dog', 'cup']

In [14]:
list2 = list1.copy()

In [15]:
list2

['Banana', 'Cat', 'apple', 'dog']

In [16]:
id(list1)

1581853564736

In [17]:
id(list2)

1581853556032

### 1. Break: keyword:

###### Now using for loop without BREAK function:

In [28]:
# for loop-->variable name-->in-->from where
for temp_var in list1:
    if temp_var == 'dog':
        print(f"found {temp_var} in list->1")
    else:
        print('Not Found')

Not Found
Not Found
Not Found
found dog in list->1
Not Found

###### break is a keywork used to stop loop cycle:

In [29]:
# for loop-->variable name-->in-->from where
for temp_var in list1:
    if temp_var == 'dog':
        print(f"found {temp_var} in list->1")
        break
    else:
        print('Not Found')

Not Found
Not Found
Not Found
found dog in list->1

### 2.CONTINUE : key word:

In [30]:
# for loop-->variable name-->in-->from where
for temp_var in list1:
    if temp_var == 'dog':
        continue
        print(f"found {temp_var} in list->1")
    else:
        print('Not Found')

Not Found
Not Found
Not Found
Not Found

### 3.Advance for loop:

In [31]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [32]:
for temp in range(1 , 11):
    print(temp)

1
2
3
4
5
6
7
8
9
10

In [35]:
for temp in range(1,11):
    print(f"2 x {temp} = {temp * 2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [39]:
for i in range(1 ,21):
    print(f" 3 X {i} = {i * 3} ")

 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27
 3 X 10 = 30
 3 X 11 = 33
 3 X 12 = 36
 3 X 13 = 39
 3 X 14 = 42
 3 X 15 = 45
 3 X 16 = 48
 3 X 17 = 51
 3 X 18 = 54
 3 X 19 = 57
 3 X 20 = 60

In [44]:
# EVEN Numbers:
for even in range(2,21,2):
    print(even)

2
4
6
8
10
12
14
16
18
20

In [46]:
# ODD Numbers:
for odd in range(1,21,2):
    print(odd)

1
3
5
7
9
11
13
15
17
19

## 4. Nested For loops:

In [66]:
for temp in range(2,6):
    print(f"--------Table of : {temp}--------")
    for temp1 in range(1,11):
        print(f"\t{temp} X {temp1} = {temp * temp1}")

--------Table of : 2--------
	2 X 1 = 2
	2 X 2 = 4
	2 X 3 = 6
	2 X 4 = 8
	2 X 5 = 10
	2 X 6 = 12
	2 X 7 = 14
	2 X 8 = 16
	2 X 9 = 18
	2 X 10 = 20
--------Table of : 3--------
	3 X 1 = 3
	3 X 2 = 6
	3 X 3 = 9
	3 X 4 = 12
	3 X 5 = 15
	3 X 6 = 18
	3 X 7 = 21
	3 X 8 = 24
	3 X 9 = 27
	3 X 10 = 30
--------Table of : 4--------
	4 X 1 = 4
	4 X 2 = 8
	4 X 3 = 12
	4 X 4 = 16
	4 X 5 = 20
	4 X 6 = 24
	4 X 7 = 28
	4 X 8 = 32
	4 X 9 = 36
	4 X 10 = 40
--------Table of : 5--------
	5 X 1 = 5
	5 X 2 = 10
	5 X 3 = 15
	5 X 4 = 20
	5 X 5 = 25
	5 X 6 = 30
	5 X 7 = 35
	5 X 8 = 40
	5 X 9 = 45
	5 X 10 = 50

In [63]:
for table in range(5,11):
    print(f"Table of :{table}")
    for product in range(1, 11):
        print(f"{table} X {product} = {table*product}")

Table of :5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Table of :6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Table of :7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
Table of :8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Table of :9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
Table of :10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [68]:
'Cat'.upper()

'CAT'

In [67]:
list1

['Banana', 'Cat', 'apple', 'dog', 'cup']

##### TASK: aik list main se values call kr k un ko upper case main convert kr k aik new list main save kra ni hai jis ka naam list_upper hoga :

In [75]:
list_upper =[]
for item in list1:
     list_upper.append(item.upper())

In [76]:
list_upper

['BANANA', 'CAT', 'APPLE', 'DOG', 'CUP']

##### TASK: aik list main se values call kr k un ko lower case main convert kr k aik new list main save kra ni hai jis ka naam list_lower hoga :

In [77]:
list_upper

['BANANA', 'CAT', 'APPLE', 'DOG', 'CUP']

In [78]:
list_lower = []

In [79]:
for items in list_upper:
    list_lower.append(items.lower())

In [80]:
list_lower

['banana', 'cat', 'apple', 'dog', 'cup']

In [81]:
list_title =[]

In [82]:
for item in list_lower:
    list_title.append(item.title())

In [83]:
list_title

['Banana', 'Cat', 'Apple', 'Dog', 'Cup']

In [93]:
first_names = ["BlueRay ",
               "Upchuck ",
               "Lojack ",
               "Gizmo ",
               "Do-Rag "]
last_names = ["Zzz",
              "Burp",
              "Dogbone",
              "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name +a_last_name)

In [94]:
full_names

['BlueRay Zzz',
 'BlueRay Burp',
 'BlueRay Dogbone',
 'BlueRay Droop',
 'Upchuck Zzz',
 'Upchuck Burp',
 'Upchuck Dogbone',
 'Upchuck Droop',
 'Lojack Zzz',
 'Lojack Burp',
 'Lojack Dogbone',
 'Lojack Droop',
 'Gizmo Zzz',
 'Gizmo Burp',
 'Gizmo Dogbone',
 'Gizmo Droop',
 'Do-Rag Zzz',
 'Do-Rag Burp',
 'Do-Rag Dogbone',
 'Do-Rag Droop']

In [95]:
first_names = ["BlueRay ",
               "Upchuck ",
               "Lojack ",
               "Gizmo ",
               "Do-Rag "]
last_names = ["Zzz",
              "Burp",
              "Dogbone",
              "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name+ " " +a_last_name)

In [96]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

### Dynamic : taking input from user then applying for loop:

In [1]:
table_start = int(input('Want to start from :'))
table_end = int(input('Want to print table till :'))
table_lenght = int(input('Enter table lenght :'))

for table in range(table_start,table_end):
    print(f"Table of :{table}")
    for product in range(1, table_lenght):
        print(f"{table} X {product} = {table*product}")

Want to start from :2
Want to print table till :6
Enter table lenght :11
Table of :2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Table of :3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Table of :4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Table of :5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [5]:
list1 = ['Cat','Dog','Hen','Elephant']

In [7]:
list2 = []
for i in list1:
    list2.append(i.upper())

In [8]:
list2

['CAT', 'DOG', 'HEN', 'ELEPHANT']

In [11]:
name = input('Enter your name here :')
f_name = input('Enter your father name :')
cnic = input('Enter your cnic number :')
course = input('Enter your COURSE :')



print('***********SMIT***********')
print(f"NAME :{name}\n F.NAME:{f_name}\n CNIC:{cnic}\n COURSE :{course}")
print('-*************************-')

Enter your name here :Qazi Muhammad Umer
Enter your father name :Qazi Najam
Enter your cnic number :42201-1111111-1
Enter your COURSE :PYTHON
***********SMIT***********
NAME :Qazi Muhammad Umer
 F.NAME:Qazi Najam
 CNIC:42201-1111111-1
 COURSE :PYTHON
*************************

#### 5. f " or .format( ):

In [1]:
name = input('Enter your name here :')
f_name = input('Enter your father name :')
cnic = input('Enter your cnic number :')
course = input('Enter your COURSE :')



print('\t***********SMIT***********')
print("\t NAME : {0} {1}".format(name ,f_name))
print("\t F_NAME: {0}".format(f_name))
print("\t CNIC: {0}".format(cnic))
print("\t COURSE: {0}".format(course))
print('-*************************-')

Enter your name here :Qazi Umer
Enter your father name :Najam
Enter your cnic number :258224455
Enter your COURSE :9 to 11
***********SMIT***********
	 NAME : Qazi Umer Najam
	 F_NAME: Najam
	 CNIC: 258224455
	 COURSE: 9 to 11
-*************************-

In [ ]:
# \n for next line
# \ for continue line