# List :

In [1]:
countries = ["Atlanta",
            "Baltimore",
            "Chicago",
            "Denver"]

In [2]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

## 1. Adding values in list : (.append)

In [28]:
# .append is used to add value on last index :

In [5]:
countries = countries + ["Seattle","Los Angles"]

In [6]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles']

In [7]:
countries = countries + ['Belgium','India']

In [8]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India']

In [9]:
type(countries)

list

In [12]:
popular_countries_list = countries + ["New York", "Pakistan"]

In [ ]:
popular_countries_list = countries + ["New York", "Pakistan"]
       NAME               OLD_LIST +         NEW_list

In [13]:
popular_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'New York',
 'Pakistan']

In [14]:
type(popular_countries_list)

list

In [15]:
countries.append("Indonasia")

In [16]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'Indonasia']

### Appending Values on a particular index :(.insert)

In [17]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'Indonasia']

In [19]:
countries.copy()

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'Indonasia']

In [20]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'Indonasia']

In [21]:
countries.insert(0 ,'Pakistan')

In [22]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'Indonasia']

In [24]:
countries.index('Pakistan')

0

In [25]:
countries.index('Indonasia')

10

In [26]:
countries[10]

'Indonasia'

In [27]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'Indonasia']

In [29]:
countries.insert(1 , 'India')

In [30]:
countries

['Pakistan',
 'India',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Seattle',
 'Seattle',
 'Los Angles',
 'Belgium',
 'India',
 'Indonasia']

In [40]:
sort_countries = countries.sort()

In [41]:
sort_countries

[None]

In [42]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'India',
 'India',
 'Indonasia',
 'Los Angles',
 'Pakistan',
 'Seattle',
 'Seattle']

In [43]:
countries.index('India')

5

In [44]:
countries.remove('India')

In [46]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'India',
 'Indonasia',
 'Los Angles',
 'Pakistan',
 'Seattle',
 'Seattle']

In [51]:
# .remove fnction takes only one argument

In [50]:
countries.remove('India','Seattle')

TypeError: list.remove() takes exactly one argument (2 given)

In [53]:
countries.remove('Seattle')

In [54]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Indonasia',
 'Los Angles',
 'Pakistan',
 'Seattle']

# 2. Slicing: [ ]

In [56]:
countries[1:6]

['Baltimore', 'Belgium', 'Chicago', 'Denver', 'Indonasia']

In [58]:
countries[5][-4:]

'asia'

In [59]:
sliced_countries_list = countries[2:6]

In [60]:
sliced_countries_list

['Belgium', 'Chicago', 'Denver', 'Indonasia']

In [61]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Indonasia',
 'Los Angles',
 'Pakistan',
 'Seattle']

In [62]:
countries[4:1]

[]

In [63]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Indonasia',
 'Los Angles',
 'Pakistan',
 'Seattle']

## Makig a second list :

In [85]:
bio_data = ["Qasim" , "Hassan" , 18 , 40.5 ,False , "43215-4578963-0"]

In [86]:
bio_data[-1]

'43215-4578963-0'

In [87]:
bio_data.insert(-1,'0300-3000000')

In [88]:
bio_data

['Qasim', 'Hassan', 18, 40.5, False, '0300-3000000', '43215-4578963-0']

In [84]:
bio_data.extend("Male")

In [89]:
bio_data

['Qasim', 'Hassan', 18, 40.5, False, '0300-3000000', '43215-4578963-0']

# Deleting :

In [90]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Indonasia',
 'Los Angles',
 'Pakistan',
 'Seattle']

In [91]:
bio_data

['Qasim', 'Hassan', 18, 40.5, False, '0300-3000000', '43215-4578963-0']

In [92]:
del bio_data[-1]

In [93]:
bio_data

['Qasim', 'Hassan', 18, 40.5, False, '0300-3000000']

In [94]:
bio_data = bio_data+['0967546898']

In [95]:
bio_data

['Qasim', 'Hassan', 18, 40.5, False, '0300-3000000', '0967546898']

In [96]:
del bio_data[-1]

In [102]:
bio_data

['Hassan', 18, 40.5, False, '0300-3000000']

In [98]:
bio_data.remove('Qasim')

In [99]:
bio_data

['Hassan', 18, 40.5, False, '0300-3000000']

In [103]:
bio_data

['Hassan', 18, 40.5, False, '0300-3000000']

In [104]:
# function k lea []
# method k lea () methods like .append,.index

# 3. Popping Elements from list:

In [111]:
progrmming_lng = ['C++','Python','Java','Java Script','C#','Php']

In [112]:
learn_prog_lng = []

In [109]:
progrmming_lng.pop(0)

'C++'

In [110]:
progrmming_lng

['Python', 'Java', 'Java Script', 'C#', 'Php']

In [113]:
learn_prog_lng = learn_prog_lng + list(progrmming_lng.pop(0))

In [114]:
learn_prog_lng

['C', '+', '+']

### another list

In [125]:
daily_task = ['Meet With Ali ', 'Call Sarah', 'Drink Coffe']

In [126]:
task_completed = []

In [127]:
task_completed.insert(0 , daily_task.pop(1))

In [128]:
task_completed

['Call Sarah']

In [129]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Indonasia',
 'Los Angles',
 'Pakistan',
 'Seattle']

In [130]:
visited_countries = []

In [131]:
visited_countries.insert(0 ,countries.pop(-2))

In [132]:
visited_countries

['Pakistan']

In [133]:
visited_countries = visited_countries+list(countries.pop(5))

In [134]:
visited_countries

['Pakistan', 'I', 'n', 'd', 'o', 'n', 'a', 's', 'i', 'a']

In [135]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Los Angles',
 'Seattle']

In [136]:
# POP append ka ulta kaam krta hai..
# wo bhi last elements se nikaal ta hai
# or remove bhi kre ga but return bhi kre ga

In [140]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Los Angles',
 'Seattle',
 'Something New!']

In [141]:
countries.remove('Something New!')

In [142]:
countries

['Atlanta',
 'Baltimore',
 'Belgium',
 'Chicago',
 'Denver',
 'Los Angles',
 'Seattle']

In [143]:
countries[1] = ['Something New']

In [144]:
countries

['Atlanta',
 ['Something New'],
 'Belgium',
 'Chicago',
 'Denver',
 'Los Angles',
 'Seattle']

# Tuples :

In [137]:
# Tuples are immutable (TUPLES can't be changed)

In [146]:
tuple_bio_data = ("Qasim" , "Hassan" , 18 , 40.5 ,False , "43215-4578963-0")

In [147]:
# TUPLES can be written with ()

In [148]:
tuple_bio_data

('Qasim', 'Hassan', 18, 40.5, False, '43215-4578963-0')

In [149]:
type(tuple_bio_data)

tuple

In [150]:
id(tuple_bio_data)

1755995249856

In [152]:
tuple_bio_data[1]

'Hassan'

In [153]:
tuple_bio_data[2]

18

In [154]:
tuple_bio_data[1:4]

('Hassan', 18, 40.5)

In [156]:
tuple_bio_data[3:]

(40.5, False, '43215-4578963-0')

In [157]:
tuple_bio_data[1] = 'Mehmood'

TypeError: 'tuple' object does not support item assignment

In [163]:
tuple_bio_data.count('Qasim')

1

In [165]:
tuple_bio_data.index('Qasim')

0